/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
./app/Http/Controllers/DoctorController.php
./app/Http/Request
./app/Http/Resource
./app/Models/Categoria.php
./app/Models/Cita.php
./app/Models/Doctor.php
./app/Models/Paciente.php
./app/Models/Producto.php

